@media (min-width: 992px) {
    .navbar-collapse {
      flex: 0;
    }
}



.nav-item {
    text-align: right;
}

.navbar-inverse, .navbar-toggler, .icon-bar {   background-color: #0d6efd;   color: #fff; }